<h1>Client#show</h1>
<p>Find me in app/views/client/show.html.erb</p>

<h2>put</h2>
<form action="/client" method="post">
  <input type="text" name="key" size="5">
  <input type="text" name="value" size="5">
  <input type="submit" value="submit">
</form>

<h2>get</h2>
<form action="client" method="post">
  <input type="text" name="key" size="5">
  <input type="submit" value="submit">
</form>
<h3><%= @val %></h3>
